name: Gradle
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  gradle:
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v1
        with:
          java-version: 8
      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2

      - name: Detekt
        run: ./gradlew detekt
      - name: Lint
        run: ./gradlew ktlintCheck
      - name: Build
        run: ./gradlew test --stacktrace
      - name: Publish Unit Test Results
        uses: EnricoMi/publish-unit-test-result-action@v1
        if: always()
        with:
          files: "**/test-results/**/*.xml"
